body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.top-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-container {
    display: flex;
    padding: 100px 200px;
    gap: 50px;
}

.header-link, p.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-image {
    display: flex;
}

h1.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800; /* extra bold */
}

.information {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.information-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800; /* extra bold */

    display: flex;
    justify-content: center;
}

.information-content {
    display: flex;
    justify-content: center;
    /* padding: 100px; */
    gap: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 200px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;

    padding: 100px 200px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quotee {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 8px;
}